<!DOCTYPE html>
<!-- ng-csp is required if you are
      writing for google app engine-->
<html ng-app="AngularChromeEx" ng-csp> 
    <head>
        <link rel="stylesheet" href="css/app/popup.css">
        <link rel="stylesheet" href="css/lib/css/bootstrap.css">
        <script src="js/lib/angular.min.js"></script>
        <!-- Next have a look on APP.js It just defines Angular Modules, which carries the same name as your HTML NG-APP does -->
        <script src="js/app/app.js"></script>
        
        <!--Then go to POPUP.js ... it is being added to the module that you have just created in APP.js-->
        <script src="js/app/popup.js"></script>
    </head>
    <body id="popup">
        <header>
            <h2>AngularJS + Chrome Extension</h2>
        </header>

        <div ng-controller="PageController">
            <p>{{message}}</p>
            <p><b>Page Title</b>: {{title}}</p>
            <p><b>Page URL</b>: <a href="{{url}}">{{url}}</a></p>
            <hr/> <br/>
            

            <button type="submit" ng-click="back()" ng-if=" test.number > 0 "><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
            <button type="submit" ng-click="forward()" ng-if=" test.number < 4 "><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>


            <div class="slide-animate-container">
                <div class="slide-animate" ng-include="test.url"></div>
            </div>


        </div>
    </body>
</html>