<!DOCTYPE html>
<!-- ng-csp is required if you are
      writing for google app engine-->
<html ng-app="AngularChromeEx" ng-csp> 
    <head>
        <link rel="stylesheet" href="css/app/popup.css">
        <link rel="stylesheet" href="css/lib/css/bootstrap.css">
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/jquery-1.11.1.min.js"></script>
        <!-- Next have a look on APP.js It just defines Angular Modules, which carries the same name as your HTML NG-APP does -->
        <script src="js/app/app.js"></script>
        <!--Then go to POPUP.js ... it is being added to the module that you have just created in APP.js-->
        <script src="js/app/popup.js"></script>
        <script src="js/lib/ui-bootstrap-aj.min.js"></script>
    </head>

    <body>
        
        <div id="popup">

            <div ng-controller="PageController">
                
                <div id="nav_stick">
                    
                    
                    <h4 class="text-center">
                        <button type="button" class="btn btn-sm btn-primary leftButton" disabled="disabled" ng-if=" test.id < 1 "><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-sm btn-primary leftButton" ng-click="back();" ng-if=" test.id > 0 "><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                        Test {{test.id + 1}}: <a href="{{test.webPage}}" tooltip-placement="bottom" target="_blank" tooltip="Click for more information on {{test.name}}">{{test.name}}</a>
                        <button type="submit" class="btn btn-sm btn-primary rightButton" ng-click="forward();" ng-if=" test.id < 4 "><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-sm btn-primary rightButton" disabled="disabled" ng-if=" test.id > 3 "><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    </h4>

                    <div class="miniRanking">

                        <rating ng-model="rate" max="max" id="stars" readonly="isReadonly" ng-click="selectStar(rate); testResults[test.id].checkScore = dude" on-hover="hoveringOver(value)" > </rating> <b>{{test.rank[overStar-1].description}}</b>

                    </div>

                    <button class="btn btn-sm btn-danger" ng-click="rate = 0; reset(test.id);" ng-disabled="isReadonly" id="rankClear"><span class="glyphicon glyphicon-trash"></span></button>
                    
                    <table style="width:100%">
                        <tr>
                            <td><label for='testSummary' class="control-label">Why?:</label></td>
                            <td><input type="text" name='summary' class="form-control" id='testSummary' placeholder="Enter your comments here..." ng-model="testResults[test.id].checkSummary" ng-required="true" required></input></td>
                        </tr>
                    </table>
                </div>

                <!-- <p class="text-center"><b>Page URL</b>: <a href="{{parser.host}}">{{parser.host}}</a></p> -->

                <!-- <ul>
                    <li>href = {{parser.href}}</li>
                    <li>protocol = {{parser.protocol}}</li>
                    <li>host = {{parser.host}}</li>
                    <li>hostname = {{parser.hostname}}</li>
                    <li>port = {{parser.port}}</li>
                    <li>pathname = {{parser.pathname}}</li>
                </ul> -->
                <div class="web2accessP text-right">
                    <span class="web2access"><img src="img/Untitled.png"/> Web2Access</span>  
                    <div class="btn-group text-right" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                            Reset <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="reset(test.id);">Reset the Test</a></li>
                            <li><a href="#" ng-click="reset(false);">Reset all Tests</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="web2accessHr"/>
                <h4 class="text-center">
                    <button type="button" class="btn btn-sm btn-primary leftButton2" disabled="disabled" ng-if=" test.id < 1 "><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-sm btn-primary leftButton2" ng-click="back();" ng-if=" test.id > 0 "><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                    Test {{test.id + 1}}: <a href="{{test.webPage}}" tooltip-placement="bottom" target="_blank" tooltip="Click for more information on {{test.name}}">{{test.name}}</a><br/><br/>
                    <button type="submit" class="btn btn-sm btn-primary rightButton2" ng-click="forward();" ng-if=" test.id < 4 "><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-sm btn-primary rightButton2" disabled="disabled" ng-if=" test.id > 3 "><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
                </h4>
                
                

                <form name="myForm">
                    

                    <table class='fullWidth table table-hover'>
                        <tr class='odd'>
                            <td style='text-align: center'><input type='radio' name='score' ng-model="testResults[test.id].checkScore" value='0' id='score0' ng-change="selected()"/></td>
                            <td scope='row'><img class="rankStars" src='img/star1.png' alt='Poor' /></td>
                            <td><label for='score0'>{{test.rank[0].description}}</label></td>
                        </tr>
                        <tr class='even'>
                            <td style='text-align: center'><input type='radio' name='score' ng-model="testResults[test.id].checkScore" value='33' id='score33' ng-change="selected()"/></td>
                            <td scope='row'><img class="rankStars" src='img/star2.png' alt='Fair' /></td>
                            <td><label for='score33'>{{test.rank[1].description}}</label></td>
                        </tr>
                        <tr class='odd'>
                            <td style='text-align: center'><input type='radio' name='score' ng-model="testResults[test.id].checkScore" value='67' id='score67' ng-change="selected()"/></td>
                            <td scope='row'><img class="rankStars" src='img/star3.png' alt='Good' /></td>
                            <td><label for='score67'>{{test.rank[2].description}}</label></td>
                        </tr>
                        <tr class='even'>
                            <td style='text-align: center'><input type='radio' name='score' ng-model="testResults[test.id].checkScore" value='100' id='score100' ng-change="selected()"/></td>
                            <td scope='row'><img class="rankStars" src='img/star4.png' alt='Excellent' /></td>
                            <td><label for='score100'>{{test.rank[3].description}}</label></td>
                        </tr>
                    </table>
                    <input type='hidden' name='test' ng-model="testNumber" value='{{test.id}}' />
                    <p>
                        <label for='testSummary'>Why have you chosen this score?</label><br/>
                        <textarea name='summary' class="form-control" rows='3' id='testSummary' ng-model="testResults[test.id].checkSummary"></textarea>
                    </p>
                    
                    <div class="text-center" ng-if=" test.id > 3 ">
                        <button type="submit" ng-click="checkResults()" class="btn btn-success">Submit <span class="glyphicon glyphicon-send" aria-hidden="true"></span></button><br/><br/>

                        <div class="alert alert-danger" ng-if="allowSubmit.length > 0">
                            <dl class="dl-horizontal">
                                <dt><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Sections to be filled in:</dt>
                                <dd><li ng-repeat="item in allowSubmit" ng-if="item"><a ng-click="test.id = 2" >{{item}}</a></li></dd>
                            </dl>
                        </div>
                    </div>
                </form>

                <div ng-if = "test.id == 3">
                    <div ng-include="test.url"></div>
                </div>

                <div ng-if = "test.id != 3">

                    <button class="btn btn-primary" ng-click="testsExamples = !testsExamples">
                        <span ng-if="testsExamples">Hide Details <span class="glyphicon glyphicon-triangle-top"></span></span>
                        <span ng-if="!testsExamples">Show Details <span class="glyphicon glyphicon-triangle-bottom"></span></span>
                    </button><hr/>

                    <div collapse="!testsExamples" class="well">
                        <div class="text-center"><b>Legend:</b> <br/>
                            <span class="label label-default">NO. OF ELEMENTS: {{testData.numDefault}}</span>
                            <span class="label label-danger legend">FAILED: {{testData.numDanger}}</span>
                            <span class="label label-success legend">PASSED: {{testData.numPassed}}</span>
                            <span class="label label-warning legend">WARNING: {{testData.numWarning}}</span>
                        </div><br/>
                        <ul>
                            <li ng-repeat="pageElement in testData.testElements">
                                <div class="imageAltOnHover" ng-mouseenter="highlightImage(pageElement.index, true)" ng-mouseleave="highlightImage(pageElement.index, false)">
                                    <span ng-if="!pageElement.passed" class="label label-danger">Element No. {{pageElement.index + 1}}:</span>
                                    <span ng-if="pageElement.passed == true" class="label label-success">Element No. {{pageElement.index + 1}}:</span>
                                    <span ng-if="pageElement.passed == 'warning'" class="label label-warning">Element No. {{pageElement.index + 1}}:</span>
                                </div>
                                <ul>
                                    <li>Passed: <b class="nullAlt">{{pageElement.passed}}</b></li>
                                    <li ng-if="pageElement.reason">Reason to Fail: {{pageElement.reason}}</li> 

                                    <!--Output a Test specific data apart from the ones mentioned below-->
                                    <div ng-include="test.url"></div>
                                    <!--End************************************************************-->

                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>
    </body>
</html>