			<div class="well">
				<table class="table table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Score</th>
							<th>Comments</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="testResult in testResults">
							<th>Test {{testResult.id + 1}}: </th>
							<td ng-if="testResult.checkScore"><img class="tickCross img-circle" src='img/tick.png' alt='Tick, i.e. given' /></td>
							<td ng-if="!testResult.checkScore"><img class="tickCross img-circle" src='img/cross.png' alt='Cross, i.e. not given'/></td>
							<td ng-if="testResult.checkSummary"><img class="tickCross img-circle" src='img/tick.png' alt='Tick, i.e. given' /></td>
							<td ng-if="!testResult.checkSummary"><img class="tickCross img-circle" src='img/cross.png' alt='Cross, i.e. not given'/></td>
						</tr>
					</tbody>
				</table>

				<div class="text-center">
                    <button type="submit" ng-click="checkResults()" class="btn btn-success">Submit <span class="glyphicon glyphicon-send" aria-hidden="true"></span></button></div>

                    <div class="alert alert-danger" ng-if="!allowSubmit">
                        <p><span class="glyphicon glyphicon-exclamation-sign"></span> You have to fill all sections in order to submit the results</p>
                    </div>
                </div>

			</div>