#popup {
  min-width: 500px;
  width: 500px;
  min-height: 10px;
  height: 300px;
  margin: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fbf0e6;
}

.rankStars{
  margin: 5px;
  width: 60px;
}

textarea {
    resize: none;
}
.imageAltOnHover:hover{
  border: 1px solid black;
  cursor: pointer;
}