body{
  background-image: url("../../img/2.jpg");
  background-repeat: repeat;
  
}
#popup {
  min-width: 500px;
  width: 500px;
  min-height: 10px;
  padding:12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
  color: rgba(255,255,255,0.8);
}
#popup a{
}
#popup a:hover{
}
.rankStars{
  margin: 5px;
  height: 17px;
}
.tickCross{
  height: 35px;
  margin-left: 5px;
}
textarea {
  resize: none;
}
.imageAltOnHover:hover{
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  padding: 0px 2px 3px 2px;
}
.nullAlt{
  font-family: "Courier New", Courier, serif;
}
.legend{
  margin-left: 1em !important;
}
#nav_stick{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100% !important;
  background-image: linear-gradient(rgb(48,88,134), rgb(40,73,111));
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  min-height: 40px;
  border: 1px solid transparent;
  color: rgba(239, 239, 239, 1);
  z-index: 100;
  padding: 10px;
}
#nav_stick a, .whiteLink{
  color: rgba(239, 239, 239, 1);
  text-decoration: underline;
}
#nav_stick a, .whiteLink:hover{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.leftButton{
  position: fixed;
  top: 10px;
  left: 10px;
}
.rightButton{
  position: fixed;
  top: 10px;
  right: 10px;
}
.leftButton2{
  position: absolute;
  top: 96px;
  left: 12px;
}
.rightButton2{
  position: absolute;
  top: 96px;
  right: 12px;
}
.star{
  width: 25px;
}
.star:hover{
  cursor: pointer;
}
#stars{
  font-size: 22px;
  color: rgb(252, 200, 20);
}
.miniRanking{
  color: rgba(0,0,0,0.8);
  font-size: 16px;
  width: 420px;
  border-radius: 3px;
  color: rgba(239, 239, 239, 1);
  margin-bottom: 10px;
}
#rankClear{
  position: fixed;
  right: 10px;
  top: 50px;
}
.web2access{
  float: left;
  position: absolute;
  left: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  padding: 4px;
  border-radius: 2px;
}
.web2access:hover{
  background-color: rgba(255,255,255,0.4);
  color: black;
  cursor: pointer;
}
.showHideButton{
  margin-top: 10px;
  margin-bottom: 10px;
}
.web2accessHr{
  border: 0; 
  border-top: 1px solid rgba(0,0,0,0.4);;
  margin-bottom: 12px;
  margin-top: 8px;
  position: relative;
  left: -12px;
  width: 105%;
}
.web2access img{
  height: 20px;
}


/*Checkout progressH Bar ***********************/


/* Form progressH */
.progressH {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
.progressH .circle,
.progressH .bar {
  display: inline-block;
  background: #fff;
  width: 30px; height: 30px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progressH .bar {
  position: relative;
  height: 6px;
  margin: 0 -1px 4px -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progressH .circle .label {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 16px;
  border-radius: 22px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 14px;
}
.progressH .circle:hover {
  cursor: pointer;
}
.progressH .circle .title {
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */
.progressH .bar.done,
.progressH .circle.done {
  background: #eee;
}
.progressH .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progressH .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progressH .circle.done .title {
}
.progressH .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progressH .circle.active .title {
  color: #0c95be;
}
.submitIcon{
  margin-left: -6px;
}

/* END ****************************************/